{% extends 'layout.html' %}
{% block content %}
<!-- Hero Section -->
<section class="bg-primary mx-2 md:mx-10 mb-5">
    <div class="grid max-w-screen-xl px-4 py-0 mx-auto md:py-8 lg:py-16 lg:gap-8 xl:gap-0 lg:grid-cols-12">
        <div
            class="animate-fade-up hover:animate-wiggle hover:animate-infinite order-1 lg:order-2 mb-8 lg:mt-0 lg:col-span-5 flex justify-center">
            <img src="{{url_for('static', filename='images/student.png')}}" alt="mockup">
        </div>
        <div class="order-2 lg:order-1 mr-auto place-self-center lg:col-span-7">
            <h1
                class="animate-fade-up max-w-2xl mb-4 text-3xl md:text-4xl xl:text-5xl font-extrabold text-primarytext tracking-tight leading-none">
                Empowering Education & Careers for a Brighter Tomorrow</h1>
            <p class="animate-fade-up max-w-2xl mb-6 font-light text-primarytext lg:mb-8 md:text-lg lg:text-xl ">
                We help schools, colleges, and students grow, learn, and succeed. <br>
                🎓 Trusted by Educational Institutions across India <br>
                📞 Start your journey today — Let’s grow together
            </p>
            <a href="/services"
                class="animate-fade-up inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primarybutton hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 ">
                Get started
                <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </a>
            <a href="/contact"
                class="animate-fade-up bg-primarytext inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-primary border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100">
                Contact Us
            </a>
        </div>
    </div>
</section>

<!-- Our Servises -->
<section class="bg-primary mx-auto md:mx-5 max-w-full mb-10 animate-fade-up">
    <h1 class="animate-bounce animate-infinite text-center text-3xl md:text-4xl lg:text-5xl py-10 font-serif font-extrabold">Our Services</h1>
    <div class="flex justify-center items-center animate-fade-up animate-delay-500">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-10 px-5">
            <!-- Card Start -->
             {% if len(services) >= 1 %}
            {% for service in services %}
            <div
                class="hover:animate-fade-up hover:animate-delay-400 max-w-sm bg-secondary border border-primarytext rounded-lg shadow-xl">
                <a href="#">
                    <img class="rounded-t-lg" src="{{ url_for('static', filename=service.image) }}" alt="" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-primarytext">{{ service.title }}</h5>
                    </a>
                    <p class="mb-3 font-normal text-primarytext line-clamp-3">{{ service.description }}</p>
                    <a href="/services/{{service.url}}"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primarybutton rounded-lg">View
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h1 class="col-span-3 animate-pulse animate-infinite text-center text-xl md:text-2xl lg:text-3xl py-10 font-mono">Data Not Found</h1>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}