{% extends 'layout.html' %}
{% block content %}

<h1
    class="animate-bounce animate-infinite text-center text-3xl md:text-4xl lg:text-5xl py-10 font-serif font-extrabold">
    {{ services.title }}
</h1>
<!-- Photo Section -->
<section class="bg-primary mx-auto md:mx-5 max-w-full mb-10 animate-fade-up">
    <h1
        class="px-5 md:px-10 animate-infinite text-center text-2xl md:text-3xl lg:text-4xl py-10 font-serif font-extrabold">
        Photos
    </h1>
    <div class="flex justify-center items-center animate-fade-up animate-delay-500">
        <!-- Photo Area -->
        <div class="px-5 md:px-10 grid grid-cols-2 md:grid-cols-3 gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Video Section -->
<section class="bg-primary mx-auto md:mx-5 max-w-full mb-10 animate-fade-up ">
    <h1
        class="px-5 md:px-10 animate-infinite text-center text-2xl md:text-3xl lg:text-4xl py-10 font-serif font-extrabold">
        Videos
    </h1>
    <div class="flex justify-center items-center animate-fade-up animate-delay-500">
        <!-- Videos Area -->
        <div class="px-5 md:px-10 grid grid-cols-2 md:grid-cols-3 gap-4 w-full">
            {% for video in videos %}
            <div class="w-full aspect-w-16 aspect-h-9 rounded-lg">
                {{video.yt_video | safe}}
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}