{% extends 'layout.html' %}
{% block content %}
<!-- Our Servises -->
<section class="bg-primary mx-auto md:mx-5 max-w-full mb-10 animate-fade-up">
    <h1 class="animate-bounce animate-infinite text-center text-3xl md:text-4xl lg:text-5xl py-10 font-serif font-extrabold">Our Services</h1>
    <div class="flex justify-center items-center animate-fade-up animate-delay-500">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-10 px-5">
            <!-- Card Start -->
            {% if len(services) >= 1 %}
            {% for service in services %}
            <div
                class="hover:animate-fade-up hover:animate-delay-400 max-w-sm bg-secondary border border-primarytext rounded-lg shadow-xl">
                <a href="#">
                    <img class="rounded-t-lg" src="{{ url_for('static', filename='images/' ~ service.img_filename) }}" alt="image" />
                </a>
                <div class="p-5">
                    <a href="#">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-primarytext">{{ service.title }}</h5>
                    </a>
                    <p class="mb-3 font-normal text-primarytext line-clamp-3">{{ service.short_description }}</p>
                    <a href="/services/{{service.url}}"
                        class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white hover:text-primarytext bg-primarybutton rounded-lg">
                        View
                        <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9" />
                        </svg>
                    </a>
                </div>
            </div>
            {% endfor %}
            {% else %}
                <h1 class="col-span-3 animate-pulse animate-infinite text-center text-xl md:text-2xl lg:text-3xl py-10 font-mono">Data Not Found</h1>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}